.questionnaire-dialog {
    width: 420px;
}

.questionnaire-question {
    margin: 0 0 5px 0;
    line-height: 1.4;
}

.questionnaire-options {
    display: flex;
    flex-wrap: wrap;
}

.questionnaire-option {
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    line-height: 25px;
    width: 33.333%;
}

.questionnaire-option input[type="radio"] {
    margin-right: 6px;
}

.questionnaire-footer {
    display: flex;
    font-style: normal;
    justify-content: center;
}

.questionnaire-footer .button + .button {
    margin-left: 5px;
}